
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #430255, #360101); 
    height: 100%;
    color: #fff; 
}


header {
    background-color: rgba(0, 0, 0, 0.85); 
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.contact-info, .contact-form {
    background-color: rgba(255, 255, 255, 0.1); 
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px; 
}

.contact-info h1, .contact-form h2 {
    color: #fff;
}


.contact-form label {
    margin-top: 10px;
    color: #fff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 5px 0 20px 0;
    background: rgba(255, 255, 255, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 5px; 
    color: #fff;
    outline: none;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    background: rgba(255, 255, 255, 0.25); 
}

::placeholder { 
    color: #e0e0e0;
    opacity: 1; 
}

.contact-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #0056b3;
}


footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
